/* ==========================
	Write your solution here!
   ========================== */
body {
  margin: 0;
  text-align: center;
}

.nav {
  margin: 0;
  display: flex;
  min-height: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}

.title {
  color: #143774;
  font-family: "Lora", serif;
  font-weight: 400;
  margin: 1em;
  font-size: 3rem;
}

.links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
  margin: 1em;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25rem;
  margin: 0.75em;
}

.active {
  text-decoration: underline;
}

@media (min-width: 1000px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .links {
    flex-direction: row;
    max-width: 50%;
    margin-right: 3em;
  }
}
