/* ==========================
	Write your solution here!
   ========================== */
body {
  margin: 0;
}

.nav {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  width: 300px;
}

.title {
  color: #143774;
  font-family: Lora;
  font-weight: 400;
  padding: 1em;
}

.links {
  font-family: Ubuntu;
  color: #717171;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.link {
  text-decoration: none;
  padding: 1em;
  text-transform: uppercase;
  color: #717171;
  font-weight: 700;
}

.active {
  text-decoration: underline;
}

@media (min-width: 600px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2em;
  }

  .links {
    flex-direction: row;
  }
}
