/* DON'T TOUCH THIS! */

/* DON'T TOUCH THIS! */

/* ==========================
	Write your solution here!
   ========================== */

body {
  margin: 75px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

/* Typography */

h1 {
  font-size: 38px;
  color: white;
  margin: 0;
  padding: 18px;
  text-transform: uppercase;
}

h2 {
  margin-top: 50px;
  font-size: 24px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
}

a {
  color: orangered;
}

/* Button */

.btn {
  color: white;
  background-color: orangered;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

/* Layout */
.container {
  width: 650px;
  margin: 0 auto;
}

.title-section {
  background-color: darkblue;
  width: 540px;
  margin: 0 auto;
}
