body {
  background-color: #ffccf9;
  display: flex;
  justify-content: center;
}

.grid {
  margin-top: 30px;
  width: 360px;
  height: 360px;
  border: solid white 8px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.wall {
  background-color: blue;
}

.pacdot {
  background-color: white;
  border: 7px solid black;
  box-sizing: border-box;
}

.powerpellet {
  background-color: yellow;
  border-radius: 10px;
}

.blinky {
  background-color: purple;
}

.pinky {
  background-color: pink;
}

.inky {
  background-color: green;
}

.clyde {
  background-color: red;
}
