body {
  margin: 5%;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  display: grid;
  justify-content: center;
}

.title {
  color: #16697a;
  text-align: center;
  margin-bottom: 1em;
}

.entry-textbox {
  width: 20em;
  height: 10em;
  padding: 1em;
  border-radius: 25px;
  margin-bottom: 0.5em;
  background-color: #ace4f0;
  border: unset;
}

.entry-textbox:focus {
  outline: none;
}

#entryForm .button {
  border-radius: 15px;
  padding: 5px 16px;
  border: unset;
  margin-left: 70%;
}

#entries {
  background-color: #16697a;
  color: #ede7e3;
  font-family: cursive;
  border-radius: 15px;
  padding: 2em;
  border: unset;
  margin-top: 1em;
  max-width: 20em;
  font-size: 1.2em;
}

.entries-nav {
  padding-bottom: 1em;
}

.display-entry-button {
  margin: 0.2em;
}

.display-entry-button:hover {
  cursor: pointer;
}
