/* DON'T TOUCH THIS! */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* DON'T TOUCH THIS! */

/* ==========================
	Write your solution here!
   ========================== */

.btn {
  background: #ef5839;
  color: white;
  display: inline-block;
  text-decoration: none;
  font-family: Lato, sans-serif;
  padding: 15px;
  font-weight: bold;
  font-size: 14px;
}

.btn:focus,
.btn:hover {
  background: #d4b44c;
  color: #2e354f;
  font-size: 20px;
  padding: 15px;
}
