html, body {
    margin: 0;
    padding: 0;
}

/* background */

#top-half{
  position: absolute;
  width: 550px;
  height: 260px;
  left: 0px;
  top: 0px;
  background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(223deg 100% 27%) 15%,
    hsl(216deg 100% 32%) 28%,
    hsl(210deg 100% 37%) 40%,
    hsl(204deg 100% 40%) 52%,
    hsl(199deg 100% 42%) 62%,
    hsl(192deg 100% 44%) 71%,
    hsl(186deg 100% 44%) 80%,
    hsl(178deg 100% 45%) 90%,
    hsl(172deg 100% 50%) 100%
  )
}

/* Heading */

#heading {
  position: absolute;
  width: 448.4px;
  height: 38px;
  left: 51px;
  top: 53px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 38px;
  /* identical to box height, or 173% */

  text-align: center;
  letter-spacing: -0.05em;

  color: #FFFFFF;
}

  /* number to convert */

#numToConvert {
  position: absolute;
  width: 211px;
  height: 51.23px;
  left: 169px;
  top: 155px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 97.5723px;
  line-height: 24px;
  /* or 25% */

  text-align: center;

  color: #FFFFFF;
}